.cursor {
	position: fixed;
	top: 0;
	left: 0;
	width: 2.5rem;
	height: 2.5rem;
	z-index: 2;
	
	pointer-events: none;
  
	div {
	  position: absolute;
	  display: grid;
	  place-items: center;
  
	  &:first-child {
		border: 1px solid #fff;
		border-radius: 50%;
		animation: pulse 2.5s linear infinite;
		box-shadow: 0 0 50px 5px #d7abff6e;
		transition: transform 0.2s ease-out;
	  }
  
	  &:nth-child(2) {
		background: #fff;
		border-radius: 50%;
		width: 4px;
		height: 4px;
	  }
	}
  }
  
  @keyframes pulse {
	/* Define your pulse animation here */
  }
  